
#container{
  margin: none;
  display: grid;
  grid-template-columns: 50% 50%;
  padding-top: 100px;
  margin: auto;

}
.forms{
  border: none;
  margin: auto;

}
.image{
  border: none;
  border-right: solid purple;

}
.social{
  padding-right: 10%;
  margin: auto;
}
.heading{
  text-align: center;
}
.input{
  padding: 12px 12px;
  width: 70%;
  border-radius: 5px;
}
button{
  padding: 12px 12px;
  width:70%;
  border: solid 1px;
  border-radius: 5px;
  background-color: purple;
  color: white;
}
.names{
  display: grid;
  grid-template-columns: 40% 40%;
}
