#form{
    border:none ;
    border-left: 2px;
    width: 30%;
    padding: 20px 20px 20px 10px;
    margin: auto;
    text-align: left;
  }
  .input{
      padding: 8px 29px;
      width:98%;
  }
  .your-class{
    display: flex; /* 2. display flex to the rescue */
    flex-direction: row;
    width: 25%;
  }
  #buton{
      padding: 17px 8px;
      width: 100%;
      border: none;
      border-radius: 5px;
      color: white;
      background-color:purple;
      font-weight: bold;
  }
  body{
      position: cent;
  }
  .link a{
  text-decoration: none;
  color: black;
  font-weight: bold;
  }
  .social{
      text-align: center;
      margin-right: 36%;
  }
  footer::before{
      position : absolute;
      bottom : 0;
      height:60px;
      margin-top : 40px;
      text-align: center ;
      font-size: 10px ;
      font-family: 'Lato' ;
  }
  #signin{
      text-decoration: none;
      color: white;
      font-size: medium;
  }
  h6{
      margin-right: 80px auto;
      font-size: 20px;
      max-width: 80px;
  }
  h6::before{
      content: "";
      display: block;
      width: 50px;
      height: 4px;
      background: #000;
      position: absolute;
      left:0;
      top:80%;
  }
  h6::after{
      content: "";
      display: block;
      width: 50px;
      height: 2px;
      background: #000;
      position: absolute;
      right:0;
      top:50%;
  }
  label{
      margin: 0 auto;
  }
  h2{
    text-align: center;
  }
  .info{
    background: white;
    width: 80%;
  }
  .img{
    background: white;
   width: 80%;
   margin-left: 10%;
  }
  #container2{
    display: grid;
    border-left: 20px;
    grid-template-columns:60% 70%;
    padding-top: 100px;
  }
  .container  {
    padding: 10px;
    border: none;
    border-right: solid purple 2px ;
  }
  .forms {
    display: grid;
    grid-template-rows: 100px auto;
    grid-template-columns: 400px auto;
    margin: auto;
    margin-top: 0%;
    text-align: left;
  }
  h6{
    margin-right: 80px auto;
    text-align: center;
    font-size: 20px;
    max-width: 600px;
    position: relative;
}
h6::before{
    content: "";
    display: block;
    width: 180px;
    height: 1px;
    background: #000;
    position: absolute;
    left:0;
    top:50%;
}
h6::after{
    content: "";
    display: block;
    width: 180px;
    height: 1px;
    background: #000;
    position: absolute;
    right:0;
    top:50%;
}
.signin {
  color: purple;
}
.heading{
  margin: auto;
}
  .socials{
    margin-left: 35%;
  }
.img{
  margin-top: 0;
}